*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
.nav-menù{
    background-color: #2C3E50;
}
div>ul>li{
    list-style-type: none;
    text-transform: uppercase;
}
.start{
    background-color: #1abc9c;
    color: white;
}
.star-logo>span{
    border: 2px solid white;
}
.star-logo.due>span{
    border: 2px solid #2C3E50;
}
section.three{
    background-color: #1abc9c;
    color: white;
}
.send{
    background-color: #1abc9c;
    color: white;
}
.btn-color{
    background-color: #1abc9c;
    color: white;
}
section.five{
    background-color: #3a546d;
    color: white;
    font-size: smaller;
}
p>span{
    color:#1abc9c;
}
footer{
    background-color: #2c3e50;
    color: white;
    font-size: small;
}