*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
header{
    background-color: #2C3E50;
}
header>div>div{
    color: white;
    font-weight: bolder;
}
div>ul>li{
    list-style-type: none;
    text-transform: uppercase;
}
.start{
    background-color: #1abc9c;
    color: white;
}
.star-logo>span{
    border: 2px solid white;
}
.star-logo.due>span{
    border: 2px solid #2C3E50;
}
section.three{
    background-color: #1abc9c;
    color: white;
}
.send{
    background-color: #1abc9c;
    color: white;
}
